@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e1014;
  color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 70px 90px 0 90px;
}

/* font-family: serif; */ /* com “acabamentos” nas letras */
/* font-family: sans-serif; */ /* sem acabamentos, mais limpa */
/* font-family: monospace; */ /* largura fixa, tipo código */
/* font-family: cursive; */ /* estilo manuscrito */
/* font-family: fantasy; */ /* fontes decorativas */

h1 {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  margin-top: 60px;
}

h1 span {
  color: #9747ff;
  font-family: "Unbounded", sans-serif;
}

p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 24px auto 0;
  width: 792px;
}

a {
  background-color: #9747ff;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 24px;
  width: 340px;
  height: 66px;
  display: block;
  line-height: 66px;
  text-align: center;
  border-radius: 36px;
  margin: 40px auto;
  font-weight: 600;
}

a:hover {
  background-color: #8233eb;
}

#img-celular {
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 820px) {
  header {
    margin: 60px 60px 0 60px;
  }
  p {
    width: 648px;
  }
  #img-celular {
    width: 659px;
  }
}

@media (max-width: 660px) {
  header {
    margin: 32px 17px 0 16px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    width: 341px;
  }
  a {
    font-size: 20px;
    width: 251px;
  }
  #img-celular {
    width: 341px;
    height: 230px;
  }
}
